<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/core-ajax/core-ajax.html">
<link rel="import" href="javascript/components/qrcode/qr-code.html">
<script src="javascript/components/qrcode/qr.js"></script>

<polymer-element name="payment-request" attributes="show">
  <template>
    <style></style>


    <form role="form" name="payment-request" action="submitAndGeneratePaymentRequest()">

    <input type="text" name="fromWho">
    <input type="text" name="toWho">
    <input type="text" name="amount">
    <textarea name="message" cols="30" rows="10"></textarea>

    <button type="submit">Generate QRcode</button>
    </form>

    <core-ajax id="ajax"
      auto
      url="{{ url }}"
      method="POST"
      on-core-response="{{ paymentRequestsLoaded }}"
      handleAs="json"
      body="{{ data }}">
    </core-ajax>

    <div class="content">
      <input type="text"
        value="bla bla blaaaaaaaaaahhh"
        oninput="document.querySelector('qr-code').data = this.value"
        autofocus
      />
      <br><br>
      <!-- Using Custom Elements -->
      <qr-code data="{{ bitcoinPayment }}"></qr-code>
    </div>

  </template>

  <script>

  Polymer('payment-request', {
    submitAndGeneratePaymentRequest: function() {
      var id = Math.floor(Math.random() * 1000) * 1000;
      var url = '/payment-request/' + id;
      var data = formData;
    },
    paymentRequestsLoaded: function() {
      // Make a copy of the loaded data
      var resp = this.$.ajax.response.slice(0);
      console.log('response', resp);
    }
  });
  </script>
</polymer-element>
