<link rel="import" href="/polymer/polymer.html">

<link rel="import" href="javascripts/components/qrcode/qr-code.html">
<script src="javascripts/components/qrcode/qr.js"></script>

<link rel="import" href="javascripts/components/ajax/ajax-form.html">
<script src="javascripts/components/ajax/ajax-form.js"></script>

<polymer-element name="payment-request">
  <template>

    <style>
      .qrCode {
        display: none;
      }
    </style>


    <h1>payment request</h1>
    <!-- <form id="fuckyou" is="ajax-form" method="post" action="payment-request/1234"> -->
    <form is="ajax-form" method="post" action="payment-request/1234">

      <label for="fromWhom">From:</label>
      <input type="text" name="fromWhom">

      <br>
      <label for="toWhom">To:</label>
      <input type="text" name="toWhom">

      <br>
      <label for="amount">Amount</label>
      <input type="text" name="amount">

      <br>
      <label for="message">Message</label>
      <textarea name="message" cols="30" rows="10"></textarea>

      <br>
      <button type="submit" on-click="{{ submit }}">Generate QRcode</button>

    </form>

    <div class="qrCode">
      <qr-code data="{{ bitcoinData }}"></qr-code>
    </div>

  </template>

  <script>
    Polymer('payment-request', {
      formSubmit: function(e) {
        e.preventDefault();
        console.log('default averted', e.currentTarget);
      },
      submit: function(e) {
        var url = 'http://localhost:3000/payment-request/1234'
        this.bitcoinData(url);
      },
      bitcoinData: function(url) {
        console.log('url', url);
        var qrcode = this.shadowRoot.getElementsByClassName('qrCode')[0];
        qrcode.style.display = 'block';
        return url;
      }
    });
  </script>

</polymer-element>
